In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
os.listdir()

['.DS_Store',
 'ETL_Project.ipynb',
 'Resources',
 'README.md',
 '.ipynb_checkpoints',
 '.git',
 'ETL-Project.sql']

In [3]:
os.listdir("Resources")

['.DS_Store',
 'trumptweets.csv',
 'trumptweets-1515775693.tweets.numbers',
 'IXIC.csv',
 'Stocks',
 'DJI.csv',
 'GSPC.csv']

In [4]:
#import TRUMP TWEET DATA
trump_tweets = "Resources/trumptweets.csv"
TRUMP_df = pd.read_csv(trump_tweets)
TRUMP_df.head()

/Users/jarvis/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15,30,31,32,36,37,38,42,43,44,45,46,47,50,51,52,56,57,58,59,60,61,62,63,64,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,status_id,created_at,user_id,screen_name,text,source,display_text_width,reply_to_status_id,reply_to_user_id,reply_to_screen_name,...,retweet_verified,place_url,place_name,place_full_name,place_type,country,country_code,geo_coords,coords_coords,bbox_coords
0,x1864367186,2009-05-20 22:29:47,x25073877,realDonaldTrump,Read a great interview with Donald Trump that ...,Twitter Web Client,112,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,x9273573134835712,2010-11-29 15:52:46,x25073877,realDonaldTrump,Congratulations to Evan Lysacek for being nomi...,Twitter Web Client,127,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,x29014512646,2010-10-28 18:53:40,x25073877,realDonaldTrump,I was on The View this morning. We talked abou...,Twitter Web Client,139,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,x7483813542232064,2010-11-24 17:20:54,x25073877,realDonaldTrump,Tomorrow night's episode of The Apprentice del...,Twitter Web Client,140,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,x5775731054,2009-11-16 21:06:10,x25073877,realDonaldTrump,Donald Trump Partners with TV1 on New Reality ...,Twitter Web Client,116,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
New_TRUMP_df = TRUMP_df[['created_at', 'text', 'mentions_screen_name','hashtags']].copy()
New_TRUMP_df = New_TRUMP_df.rename(columns={'created_at': 'Date'})


New_TRUMP_df.head()

,Date,text,mentions_screen_name,hashtags
0,2009-05-20 22:29:47,Read a great interview with Donald Trump that ...,NaN,NaN
1,2010-11-29 15:52:46,Congratulations to Evan Lysacek for being nomi...,NaN,EvanForSI
2,2010-10-28 18:53:40,I was on The View this morning. We talked abou...,NaN,NaN
3,2010-11-24 17:20:54,Tomorrow night's episode of The Apprentice del...,NaN,NaN
4,2009-11-16 21:06:10,Donald Trump Partners with TV1 on New Reality ...,NaN,NaN

In [6]:
New_TRUMP_df.Date=New_TRUMP_df.Date.str[:10]
New_TRUMP_df.head()

,Date,text,mentions_screen_name,hashtags
0,2009-05-20,Read a great interview with Donald Trump that ...,NaN,NaN
1,2010-11-29,Congratulations to Evan Lysacek for being nomi...,NaN,EvanForSI
2,2010-10-28,I was on The View this morning. We talked abou...,NaN,NaN
3,2010-11-24,Tomorrow night's episode of The Apprentice del...,NaN,NaN
4,2009-11-16,Donald Trump Partners with TV1 on New Reality ...,NaN,NaN

In [7]:
#Import DOW DATA
DOW_Data = "Resources/DJI.csv"
DOW_df = pd.read_csv(DOW_Data)
DOW_df.rename(columns={'Close': 'DOW_Close'}, inplace=True)
DOW_df = DOW_df[['Date', 'DOW_Close']].copy()
DOW_df.head()

         Date     DOW_Close
0  2017-01-03  19881.759766
1  2017-01-04  19942.160156
2  2017-01-05  19899.289063
3  2017-01-06  19963.800781
4  2017-01-09  19887.380859

In [8]:
#Import S&P Data
SP_Data = "Resources/GSPC.csv"
SP_df = pd.read_csv(SP_Data)
SP_df.rename(columns={'Close': 'S&P_Close'}, inplace=True)
SP_df = SP_df[['Date', 'S&P_Close']].copy()
SP_df.head()

         Date    S&P_Close
0  2017-01-03  2257.830078
1  2017-01-04  2270.750000
2  2017-01-05  2269.000000
3  2017-01-06  2276.979980
4  2017-01-09  2268.899902

In [9]:
#Import Nasdaq Data & rename close column
Nasdaq_Data = "Resources/IXIC.csv"
Nasdaq_df = pd.read_csv(Nasdaq_Data)
Nasdaq_df.rename(columns={'Close': 'Nasdaq_Close'}, inplace=True)
Nasdaq_df = Nasdaq_df[['Date', 'Nasdaq_Close']].copy()
Nasdaq_df.head()

         Date  Nasdaq_Close
0  2017-01-03   5429.080078
1  2017-01-04   5477.000000
2  2017-01-05   5487.939941
3  2017-01-06   5521.060059
4  2017-01-09   5531.819824

In [10]:
#Connect to Local Database
rds_connection_string = "root:password@localhost/ETL?charset=utf8mb4"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [11]:
engine.table_names()

['ETL', 'Phase3', 'Trust', 'customer_location']

In [12]:

Phase1=(pd.merge(New_TRUMP_df,DOW_df,on='Date', how='outer').fillna({'comp_id':''}))
Phase2=(pd.merge(Phase1,SP_df,on='Date', how='outer').fillna({'comp_id':''}))
Phase3=(pd.merge(Phase2,Nasdaq_df,on='Date', how='outer').fillna({'comp_id':''}))
Phase3.head()

,Date,text,mentions_screen_name,hashtags,DOW_Close,S&P_Close,Nasdaq_Close
0,2009-05-20,Read a great interview with Donald Trump that ...,NaN,NaN,NaN,NaN,NaN
1,2009-05-20,"""Always know you could be on the precipice of ...",NaN,NaN,NaN,NaN,NaN
2,2010-11-29,Congratulations to Evan Lysacek for being nomi...,NaN,EvanForSI,NaN,NaN,NaN
3,2010-10-28,I was on The View this morning. We talked abou...,NaN,NaN,NaN,NaN,NaN
4,2010-11-24,Tomorrow night's episode of The Apprentice del...,NaN,NaN,NaN,NaN,NaN

In [13]:
#New_TRUMP_df.Date=New_TRUMP_df.Date.str[:10]
#Phase3.loc[Phase3.Date.str[:4]>2016)
#Phase3['Date'].where(Phase3['Date'] > 2017)
#Phase3 = Phase3.iloc[Phase3.Date.str[:4]] > 2016 
#print(test)

Phase3[Phase3.Date.str[:4] == '2017']
Phase3.dropna()

,Date,text,mentions_screen_name,hashtags,DOW_Close,S&P_Close,Nasdaq_Close
30275,2017-12-28,RT @EricTrump: #ThrowbackThursdays \n@realDona...,EricTrump realDonaldTrump,ThrowbackThursdays,24837.509766,2687.540039,6950.160156
30317,2017-12-01,RT @WhiteHouse: President Trump proclaims toda...,WhiteHouse,WorldAIDSDay,24231.589844,2642.219971,6847.589844
30327,2017-12-07,RT @EricTrump: #MakeAmericaGreatAgain https://...,EricTrump,MakeAmericaGreatAgain,24211.480469,2636.979980,6812.839844
30366,2017-12-08,"Tonight, @FLOTUS Melania and I were thrilled t...",FLOTUS WhiteHouse,HappyHanukkah,24329.160156,2651.500000,6840.080078
30391,2017-12-06,Join me live from the @WhiteHouse via #Perisco...,WhiteHouse,Periscope,24140.910156,2629.270020,6776.379883
30427,2017-11-29,RT @EricTrump: #MakeAmericaGreatAgain https://...,EricTrump,MakeAmericaGreatAgain,23940.679688,2626.070068,6824.390137
30449,2017-11-24,RT @DeptofDefense: #HappyThanksgiving from @US...,DeptofDefense USArmy USNationalGuard,HappyThanksgiving soldiers Afghanistan,23557.990234,2602.419922,6889.160156
30462,2017-11-28,RT @IvankaTrump: Thank you for the warm welcom...,IvankaTrump,GES2017,23836.710938,2627.040039,6912.359863
30463,2017-11-28,RT @FLOTUS: Had a wonderful visit from @JBA_NA...,FLOTUS JBA_NAFW WhiteHouse,WhiteHouseChristmas,23836.710938,2627.040039,6912.359863
30470,2017-11-28,RT @statedeptspox: #GES2017 highlights the imp...,statedeptspox,GES2017 entrepreneurs innovation,23836.710938,2627.040039,6912.359863
30490,2017-11-17,"Today, it was an honor to celebrate the Colleg...",WhiteHouse,NCAAChampions,23358.240234,2578.850098,6782.790039
30525,2017-11-15,"RT @Scavino45: 20,295 miles later #POTUSinAsia...",Scavino45 POTUS realDonaldTrump WhiteHouse,POTUSinAsia,23271.279297,2564.620117,6706.209961
30529,2017-11-15,RT @realDonaldTrump: Thank you to our GREAT Mi...,realDonaldTrump PacificCommand USSArizona,PearlHarbor,23271.279297,2564.620117,6706.209961
30552,2017-11-10,I am leaving China for #APEC2017 in Vietnam. @...,FLOTUS,APEC2017,23422.210938,2582.300049,6750.939941
30616,2017-10-27,Happy Birthday @TheLeeGreenwood!\n#FlashbackFr...,TheLeeGreenwood,FlashbackFriday,23434.189453,2581.070068,6701.259766
30629,2017-11-01,@NYGovCuomo @NYCMayor ...fully supports any an...,NYGovCuomo NYCMayor,NYCStrong,23435.009766,2579.360107,6716.529785
30638,2017-11-02,"Congratulations to the Houston @Astros, 2017 #...",astros,WorldSeries HoustonStrong EarnHistory,23516.259766,2579.850098,6714.939941
30717,2017-10-26,RT @IvankaTrump: Working families need #TaxRef...,IvankaTrump,TaxReform,23400.859375,2560.399902,6556.770020
30727,2017-10-20,Big ratings getter @seanhannity and Apprentice...,seanhannity,VegasStrong,23328.630859,2575.209961,6629.049805
30729,2017-10-20,Great news on the 2018 budget @SenateMajLdr Mc...,SenateMajLdr,TaxReform,23328.630859,2575.209961,6629.049805
30746,2017-10-19,It was great to have Governor @RicardoRossello...,ricardorossello WhiteHouse,PuertoRico PRStrong,23163.039063,2562.100098,6605.069824
30756,2017-10-18,It was an honor to welcome Republican and Demo...,WhiteHouse,TaxReform,23157.599609,2561.260010,6624.220215
30760,2017-10-18,".@DanaPerino &amp; @BradThor,\nThank you so mu...",DanaPerino BradThor,MAGA,23157.599609,2561.260010,6624.220215
30785,2017-10-25,Just interviewed by @LouDobbs. Will be aired t...,LouDobbs FoxBusiness,Dobbs,23329.460938,2557.149902,6563.890137
30801,2017-10-10,My great honor to host the 2017 back-to-back #...,FLOTUS,StanleyCup,22830.679688,2550.639893,6587.250000
30880,2017-10-13,I have no greater privilege than to serve as y...,USNavy,242NavyBday,22871.720703,2553.169922,6605.799805
30902,2017-10-04,The @NBCNews story has just been totally refut...,NBCNews VP,FakeNews,22661.640625,2537.739990,6534.629883
30906,2017-10-04,My Administration will continue to work around...,ricardorossello,PRStrong,22661.640625,2537.739990,6534.629883
30912,2017-10-03,Great meeting with Governor Mapp of the #USVI....,fema,USVI,22641.669922,2534.580078,6531.709961
30966,2017-09-29,Thank you @ShopFloorNAM. An honor to be with y...,ShopFloorNAM,TaxReform,22405.089844,2519.360107,6495.959961
...,...,...,...,...,...,...,...
31902,2017-06-02,RT @Reince45: Promise kept. @POTUS exits flawe...,Reince45 POTUS,ParisAccord,21206.289063,2439.070068,6305.799805
31904,2017-06-02,RT @HeyTammyBruce: Coming up at 720a ET on @fo...,HeyTammyBruce foxandfriends,maga,21206.289063,2439.070068,6305.799805
31931,2017-06-07,Great meeting with @HouseGOP and @SenateGOP le...,HouseGOP SenateGOP SpeakerRyan SenateMajLdr GO...,USA,21173.689453,2433.139893,6297.379883
31951,2017-05-30,RT @Scavino45: President Trump pays respects a...,Scavino45,MemorialDay,21029.470703,2412.909912,6203.189941
32015,2017-05-25,RT @FLOTUS: Thank u to Queen Fabiola Universit...,FLOTUS,Brussels,21082.949219,2415.070068,6205.259766
32016,2017-05-25,Just arrived in Taormina with @FLOTUS Melania....,FLOTUS,G7Summit USA,21082.949219,2415.070068,6205.259766
32031,2017-05-26,"On behalf of @FLOTUS Melania and myself, thank...",FLOTUS,G7Taormina,21080.279297,2415.820068,6210.189941
32045,2017-05-17,It was my great honor to deliver the #CGAComme...,USCGAcademy,CGACommencement17,20606.929688,2357.030029,6011.240234
32066,2017-05-03,It was an honor to stop by a #SchoolChoice eve...,VP usedgov BetsyDeVosED WhiteHouse,SchoolChoice,20957.900391,2388.129883,6072.549805
32128,2017-04-24,"Today, I signed the Holocaust Remembrance Proc...",WorldJewishCong,ICYMI,20763.890625,2374.149902,5983.819824
32129,2017-04-24,Join me in congratulating @NASA's @AstroPeggy ...,NASA AstroPeggy,CongratsPeggy,20763.890625,2374.149902,5983.819824
32164,2017-04-19,Today I signed the Veterans (OUR HEROES) Choic...,WhiteHouse,S544,20404.490234,2338.169922,5863.029785
32176,2017-04-03,Melania and I are honored to light up the @Whi...,WhiteHouse,WorldAutismAwarenessDay LIUB,20650.210938,2358.840088,5894.680176
32186,2017-03-30,Great op-ed from @RepKenBuck. Looks like some ...,RepKenBuck,Obamacare,20728.490234,2368.060059,5914.339844
32188,2017-03-30,"Where are @RepMarkMeadows, @Jim_Jordan and @Ra...",RepMarkMeadows Jim_Jordan Raul_Labrador,RepealANDReplace Obamacare,20728.490234,2368.060059,5914.339844
32189,2017-04-10,Thank you @USNavy! #USA https://t.co/oD7L8vPgjq,USNavy,USA,20658.019531,2357.159912,5880.930176
32216,2017-04-06,It was an honor to host our American heroes fr...,wwp WhiteHouse FLOTUS VP SecondLady,SoldierRideDC USA,20662.949219,2357.489990,5878.950195
32232,2017-04-11,RT @foxnation: Grateful Syrians React To @real...,foxnation realDonaldTrump,SyrianStrikes,20651.300781,2353.780029,5866.770020
32250,2017-04-04,.@WhiteHouse #CEOTownHall\n➡️https://t.co/ADSK...,WhiteHouse,CEOTownHall,20689.240234,2360.159912,5898.609863
32287,2017-03-17,RT @AmericaFirstPol: MAJOR IMPACT: @POTUS Trum...,AmericaFirstPol POTUS,MAGA,20914.619141,2378.250000,5901.000000
32299,2017-03-10,Weekly Address - 11:00 A.M. at the @WhiteHouse...,WhiteHouse,MAGA,20902.980469,2372.600098,5861.729980
32321,2017-03-13,Healthcare listening session w/ @VP &amp; @Sec...,VP SecPriceMD,ReadTheBill RepealAndReplace,20881.480469,2373.469971,5875.779785
32344,2017-03-21,Joined the @HouseGOP Conference this morning a...,HouseGOP,PassTheBill MAGA,20668.009766,2344.020020,5793.830078
32400,2017-02-15,"Welcome to the United States, @IsraeliPM Benja...",IsraeliPM,ICYMI,20611.859375,2349.250000,5819.439941
32496,2017-02-08,"Thank you Brian Krzanich, CEO of @Intel. A gre...",intel,AmericaFirst,20054.339844,2294.669922,5682.450195
32586,2017-01-27,.@VP Mike Pence will be speaking at today's #M...,VP,MarchForLife,20093.779297,2294.689941,5660.779785
32618,2017-01-24,Great meeting with automobile industry leaders...,WhiteHouse,MAGA,19912.710938,2280.070068,5600.959961
32630,2017-01-19,Great seeing @TheLeeGreenwood and Kimberly at...,TheLeeGreenwood,GodBlessTheUSA,19732.400391,2263.689941,5540.080078
32651,2017-01-04,"""@FoxNews: Julian Assange on U.S. media covera...",FoxNews,Hannity,19942.160156,2270.750000,5477.000000
32681,2017-01-11,RT @MichaelCohen212: I have never been to Prag...,MichaelCohen212,fakenews,19954.279297,2275.320068,5563.649902

In [14]:
engine.table_names()

['ETL', 'Phase3', 'Trust', 'customer_location']

In [15]:
Phase3.to_sql(name='ETL', con=engine, if_exists='replace', index=False)

InternalError: (pymysql.err.InternalError) (1366, "Incorrect string value: '\\xE2\\x80\\x95 F....' for column 'text' at row 3401") [SQL: 'INSERT INTO `ETL` (`Date`, text, mentions_screen_name, hashtags, `DOW_Close`, `S&P_Close`, `Nasdaq_Close`) VALUES (%(Date)s, %(text)s, %(mentions_screen_name)s, %(hashtags)s, %(DOW_Close)s, %(S&P_Close)s, %(Nasdaq_Close)s)'] [parameters: ({'Date': '2009-05-20', 'text': 'Read a great interview with Donald Trump that appeared in The New York Times Magazine: http://tinyurl.com/qsx4o6', 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}, {'Date': '2009-05-20', 'text': '"Always know you could be on the precipice of something great." --Donald J. Trump http://tinyurl.com/pqpfvm', 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}, {'Date': '2010-11-29', 'text': "Congratulations to Evan Lysacek for being nominated SI sportsman of the year. He's a great guy, and he has my vote!  #EvanForSI", 'mentions_screen_name': None, 'hashtags': 'EvanForSI', 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}, {'Date': '2010-10-28', 'text': "I was on The View this morning. We talked about The Apprentice. Tonight's episode is a great one--tough, exciting and surprising. 10 pm/NBC", 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}, {'Date': '2010-11-24', 'text': "Tomorrow night's episode of The Apprentice delivers excitement at QVC along with appearances by Isaac Mizrahi and Cathie Black. 10 pm on NBC", 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}, {'Date': '2010-11-24', 'text': 'My best wishes to everyone for a Happy Thanksgiving!', 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}, {'Date': '2010-11-24', 'text': "Watch CNN tomorrow at 2 pm & 5 pm and on Friday at 7 pm & 11 pm for a Thanksgiving Special hosted by John King. I'll be a featured guest.", 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}, {'Date': '2009-11-16', 'text': "Donald Trump Partners with TV1 on New Reality Series Entitled, Omarosa's Ultimate Merger: http://tinyurl.com/yk5m3lc", 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}  ... displaying 10 of 32827 total bound parameter sets ...  {'Date': '2018-01-03', 'text': 'North Korean Leader Kim Jong Un just stated that the “Nuclear Button is on his desk at all times.” Will someone from his depleted and food starved regime please inform him that I too have a Nuclear Button, but it is a much bigger &amp; more powerful one than his, and my Button works!', 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': None, 'S&P_Close': None, 'Nasdaq_Close': None}, {'Date': '2017-06-08', 'text': None, 'mentions_screen_name': None, 'hashtags': None, 'DOW_Close': 21182.529297, 'S&P_Close': 2433.790039, 'Nasdaq_Close': 6321.759765999999})] (Background on this error at: http://sqlalche.me/e/2j85)